<div class="container">
  <nb-card>
    <nb-card-header>
      <div class="container">
        <div class="row">
          <div class="col-sm text-center">
            <button nbButton hero status="info" (click)="showRecent()">
              Show Recent
            </button>
          </div>
          <div class="col-sm text-center">
            <button nbButton hero status="success" (click)="openAdd()">
              Add Memes
            </button>
          </div>
          <div class="col-sm text-center">
            <button nbButton hero status="primary" (click)="openFilter()">
              Edit Filters
            </button>
          </div>
        </div>
      </div>
    </nb-card-header>
    <nb-list
      nbInfiniteList
      listenWindowScroll
      [threshold]="500"
      (bottomThreshold)="loadNext()"
    >
      <nb-list-item *ngFor="let e of results">
        <nb-card status="primary" style="width: 100%;">
          <nb-card-header style="position: relative;">
            <a *ngIf="e.title != ''" [attr.href]="e.url">{{ e.title }}</a>
            <a *ngIf="e.title == ''" [attr.href]="e.url">{{ e.url }}</a>
            <nb-badge
              *ngIf="e.votes > 0"
              text="{{ e.votes }}"
              status="warning"
              position="top right"
            ></nb-badge>
            <nb-badge
              *ngIf="e.shares > 0"
              text="{{ e.shares }}"
              status="info"
              position="bottom right"
            ></nb-badge>
          </nb-card-header>
          <nb-card-body>
            <p *ngIf="e.text">
              <b>{{ e.author }}:</b>
              {{ e.text }}
            </p>
            <p class="text-center" *ngIf="e.image_url">
              <img
                style="width: 600px;"
                class="img-fluid rounded mx-auto d-block"
                [attr.src]="e.image_url"
                alt="e.title"
              />
            </p>
            <button
              *ngIf="e.host != '' && e.host != undefined"
              nbButton
              shape="round"
              size="small"
              status="primary"
              class="tags"
            >
              <nb-icon icon="home"></nb-icon>{{ e.host }}
            </button>
            <button
              *ngIf="e.category != '' && e.category != undefined"
              nbButton
              shape="round"
              size="small"
              status="success"
              class="tags"
            >
              <nb-icon icon="book-open"></nb-icon>{{ e.category }}
            </button>
            <button nbButton shape="round" size="small" status="info" class="tags" *ngFor="let t of e.tags">
              {{t}}
            </button>
          </nb-card-body>
          <nb-card-footer>
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <button
                    nbButton
                    outline
                    status="info"
                    (click)="findSimilar(e.meme_id)"
                  >
                    Find similar
                  </button>
                </div>
                <div class="col-sm"></div>
                <div class="col-sm">
                  <button
                    nbButton
                    outline
                    status="danger"
                    (click)="removeMeme(e.meme_id)"
                  >
                    Remove Meme
                  </button>
                </div>
              </div>
            </div>
            <!-- <nb-accordion *ngIf="e.comments.length > 0">
              <nb-accordion-item>
                <nb-accordion-item-header>
                  Comments [ {{ e.comments.length }} ]
                </nb-accordion-item-header>
                <nb-accordion-item-body *ngFor="let c of e.comments">
                  <nb-badge
                    *ngIf="c.votes > 0"
                    text="{{ c.votes }}"
                    status="info"
                    position="top right"
                  ></nb-badge>
                  {{ c.author }}: {{ c.text }}
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion> -->
          </nb-card-footer>
        </nb-card>
      </nb-list-item>
    </nb-list>
  </nb-card>
</div>
