<nb-card>
  <nb-card-header>Filter Rules</nb-card-header>
  <nb-card-body>
    <div class="container">
      <div class="row">
        <!-- <div class="col-sm">
              <div class="form-group" style="width: 100%;">
                <label for="formControlDates">
                  Selected range: {{ range?.start | date }} -
                  {{ range?.end | date }}
                </label>
                <nb-calendar-range id="formControlDates" [(range)]="range">
                </nb-calendar-range>
              </div>
            </div> -->
        <!-- <div class="col-sm">
              <nb-list>
                <nb-list-item>
                  <div class="form-group" style="width: 100%;">
                    <label for="formControlVotes">
                      Minimum Number of Votes: {{ votes }}
                    </label>
                    <input
                      id="formControlVotes"
                      type="range"
                      nbInput
                      fullWidth
                      [(ngModel)]="votes"
                    />
                  </div>
                </nb-list-item>
                <nb-list-item>
                  <div class="form-group" style="width: 100%;">
                    <label for="formControlShares">
                      Minimum Number of Shares: {{ shares }}
                    </label>
                    <input
                      id="formControlShares"
                      type="range"
                      nbInput
                      fullWidth
                      [(ngModel)]="shares"
                    />
                  </div>
                </nb-list-item>
                <nb-list-item>
                  <div class="form-group" style="width: 100%;">
                    <label for="formControlComments">
                      Minimum Number of Comments: {{ comments }}
                    </label>
                    <input
                      id="formControlComments"
                      type="range"
                      nbInput
                      fullWidth
                      [(ngModel)]="comments"
                    />
                  </div>
                </nb-list-item>
              </nb-list>
            </div> -->
        <div class="col-sm">
          <nb-list-item>
            <div class="form-group" style="width: 100%;">
              <input
                [formControl]="hostnameFormControl"
                nbInput
                fullWidth
                placeholder="Hostname"
                [nbAutocomplete]="host"
              />
              <nb-autocomplete #host [activeFirst]="true">
                <nb-option
                  *ngFor="let option of filteredHostnames$ | async"
                  [value]="option"
                >
                  {{ option }}
                </nb-option>
              </nb-autocomplete>
            </div>
          </nb-list-item>
          <nb-list-item>
            <div class="form-group" style="width: 100%;">
              <input
                [formControl]="categoryFormControl"
                nbInput
                fullWidth
                placeholder="Category"
                [nbAutocomplete]="cat"
              />
              <nb-autocomplete #cat [activeFirst]="true">
                <nb-option
                  *ngFor="let option of filteredCategories$ | async"
                  [value]="option"
                >
                  {{ option }}
                </nb-option>
              </nb-autocomplete>
            </div>
          </nb-list-item>
          <nb-list-item>
            <div class="form-group" style="width: 100%;">
              <input
                [formControl]="tagFormControl"
                id="formControlTag"
                nbInput
                fullWidth
                placeholder="Tag"
                [nbAutocomplete]="tag"
              />
              <nb-autocomplete #tag [activeFirst]="true">
                <nb-option
                  *ngFor="let option of filteredTags$ | async"
                  [value]="option"
                >
                  {{ option }}
                </nb-option>
              </nb-autocomplete>
            </div>
          </nb-list-item>
        </div>
        <div class="col-sm">
          <nb-list-item>
            <div class="form-group" style="width: 100%;">
              <input
                [formControl]="filetypeFormControl"
                nbInput
                fullWidth
                placeholder="FileType"
                [nbAutocomplete]="ft"
              />
              <nb-autocomplete #ft [activeFirst]="true">
                <nb-option
                  *ngFor="let option of filteredFileTypes$ | async"
                  [value]="option"
                >
                  {{ option }}
                </nb-option>
              </nb-autocomplete>
            </div>
          </nb-list-item>
          <nb-list-item>
            <div class="form-group" style="width: 100%;">
              <input
                [formControl]="authorFormControl"
                nbInput
                fullWidth
                placeholder="Author"
                [nbAutocomplete]="author"
              />
              <nb-autocomplete #author [activeFirst]="true">
                <nb-option
                  *ngFor="let option of filteredAuthors$ | async"
                  [value]="option"
                >
                  {{ option }}
                </nb-option>
              </nb-autocomplete>
            </div>
          </nb-list-item>
          <nb-list-item>
            <div class="form-group" style="width: 100%;">
              <input
                id="formControlText"
                nbInput
                fullWidth
                placeholder="Text"
                [(ngModel)]="text"
                disabled
              />
            </div>
          </nb-list-item>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton (click)="dismiss()">Apply</button>
  </nb-card-footer>
</nb-card>
