<nb-layout>
  <nb-layout-header fixed>
    <nb-actions size="small" fullWidth>
      <nb-action [routerLink]="['/']" icon="home-outline"></nb-action>
      <nb-action [routerLink]="['/view']" icon="search-outline"></nb-action>
      <nb-action [routerLink]="['/user']" icon="people-outline"></nb-action>
    </nb-actions>
    <div *ngIf="userService.isAuth" style="margin-left: auto;">
      <button nbButton [status]="right_button_type"  (click)="logout()">{{right_button_text}}</button>
    </div>
    <div *ngIf="!userService.isAuth" style="margin-left: auto;">
      <button nbButton [status]="right_button_type"  (click)="login()">{{right_button_text}}</button>
    </div>
    
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <nb-actions size="small" fullWidth>
      <!-- <nb-action class="link">R&P</nb-action> -->
      <nb-action class="link" [routerLink]="['/tos']">
        Terms of Service
      </nb-action>
      <nb-action class="link" [routerLink]="['/privacy']">Privacy</nb-action>
      <!-- <nb-action class="link" [routerLink]="['/legal']">Legal </nb-action> -->
    </nb-actions>
  </nb-layout-footer>
</nb-layout>
