<div class="container">
  <nb-card *ngIf="!userService.isAuth">
    <nb-card-header>Getting Started</nb-card-header>
    <nb-card-body>
      <nb-stepper orientation="horizontal">
        <nb-step [label]="labelOne">
          <ng-template #labelOne>Register</ng-template>
          <h4>Create an Account</h4>
          <p class="Register">
            This Link will take you to our Register Page
          </p>
          <a href="/user/register" target="_blank">
            <button nbButton status="primary">
              <nb-icon icon="person-add-outline"></nb-icon>Register
            </button>
          </a>
          <button nbButton nbStepperNext>
            Next <nb-icon icon="checkmark"></nb-icon>
          </button>
        </nb-step>
        <nb-step [label]="labelTwo">
          <ng-template #labelTwo>Confirm</ng-template>
          <h4>Check your Mails</h4>
          <p class="Confirm">
            Please confirm your e-mail address. You should have a registration
            confirmation.
          </p>
          <button nbButton status="primary" [routerLink]="['/user/confirm']">
            <nb-icon icon="inbox-outline"></nb-icon> Confirm
          </button>
          <button nbButton nbStepperNext>
            Next <nb-icon icon="checkmark"></nb-icon>
          </button>
        </nb-step>
        <nb-step label="Download">
          <h4>Download the Clipboard Agent</h4>
          <p class="download">
            To make life easy for you we developed a clipboard agent that will
            listen for specific links you define and automatically push them to
            us.
          </p>
          <a
            href="https://gitlab.com/robin-patrick/maas/clipboard-agent/"
            target="_blank"
          >
            <button nbButton status="primary">
              <nb-icon icon="download"></nb-icon> Download
            </button>
          </a>
          <button nbButton [routerLink]="['/user/login']">
            Login <nb-icon icon="done-all"></nb-icon>
          </button>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>
  <nb-card status="success" *ngIf="userService.isAuth">
    <nb-card-header>You are already a member!</nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item>
          <a href="/view/">
            <button nbButton status="primary">
              <nb-icon icon="search-outline"></nb-icon>Visit your MemeList
            </button>
          </a>
        </nb-list-item>
        <nb-list-item>
          <a href="/user/">
            <button nbButton status="basic">
              <nb-icon icon="people-outline"></nb-icon>Manage your Account
            </button>
          </a>
        </nb-list-item>
        <nb-list-item>
          <a href="#">
            <button nbButton status="info">
              <nb-icon icon="people-outline"></nb-icon>Get the Client
            </button>
          </a>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>
  </nb-card>
  <nb-card status="info">
    <nb-card-header>What is MyMemeList?</nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item>
          <div>
            <nb-alert status="control">A glorified Bookmark list for all your funny memes and other stuff you might want find again.</nb-alert>
          </div>
        </nb-list-item>
        <nb-list-item>
          <div>
            <nb-alert status="control">A quick way to store and find your best memes.</nb-alert>
          </div>
        </nb-list-item>
        <nb-list-item>
          <div>
            <nb-alert status="control">A cloud-powered application that will keep your links safe.</nb-alert>
          </div>
        </nb-list-item>
        <nb-list-item>
          <div>
            <nb-alert status="control">An AI-driven tool which will categorize your memes automatically.</nb-alert>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>
  </nb-card>
</div>
